body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.site-header {
background: #FFFFFF;
}


.header-navigation {
}
.header-logo {
font-weight: 800;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
list-style: none;
text-decoration: none;
color: #4D5AE5;

}
.header-list {
}
.list {
}
.header-item {
}
.header-link {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;

}
.header-link:hover, .header-link:focus {

color: #4D5AE5;
}




.link {
}
.header-sait {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
list-style: none;
color: #434455;
}


.header-tel {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
list-style: none;
color: #434455;
}


.hero {
background: #2E2F42;
}


.hero-page {

text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}


.hero-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    

}
.work {
}
.work-list {
}
.work-item {
}
.work-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}


.work-after-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.tasks {
    background: #E5E5E5;
}


.tasks-title {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.tasks-list {
}
.tasks-item {
}
.team {
}


.team-title {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-list {
}
.team-item {
}
.team-foto {
}


.team-member {
font-weight: 600;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
ccolor: #2E2F42;
}

.team-after-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;

}
.footer {
left: 0px;
top: 2283px;
background: #2E2F42;
}


.footer-logo {
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}


.footer-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}







/* --------PORTFOLIO--------- */

.portfolio-body {
}
.portfolio {
left: 0px;
top: 0px;
background: #FFFFFF;
}
.portfolio-nav {
}


.portfolio-logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    color: #4D5AE5;
    
}
.header-portfolio-link {

}


.portfolio-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    color: #434455;
    
}

.portfolio-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    color: #434455;
    
}



.header-portfolio-link {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;

}
.portfolio-hero { 
    
}
.portfolio-hero-list {
    text-decoration: none;
    list-style: none;
}
.portfolio-hero-btn {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
color: #4D5AE5;

}
.portfolio-hero-foto {
    
}
.portfolio-hero-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
list-style: none;
text-decoration: none;
color: #2E2F42;
}


.portfolio-hero-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
list-style: none;
text-decoration: none;
color: #434455;
}


.portfolio-footer {
left: 0px;
top: 1764px;
background: #2E2F42;
}

.portfolio-footer-link {
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
list-style: none;
text-decoration: none;
text-transform: uppercase;
color: #4D5AE5
}


.portfolio-footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}