body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background: #FFFFFF;
}

button {
    border: none;
    background-color: #F4F4FD;
    cursor: pointer;
}

button:hover {
color: #FFFFFF;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 12px 24px;
background: #404BBF;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
flex: none;
order: 0;
flex-grow: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
.site-header {
background: #FFFFFF;
}


.header-navigation {
}

.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.studio-footer {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}

.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
list-style: none;
text-decoration: none;
color: #4D5AE5;

}
.header-list {
}
.list {
}
.header-item {
}
.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;

}
.header-link:hover, .header-link:focus {

color: #4D5AE5;
}

.header-sait:hover, .header-sait:focus {
    color: #4D5AE5;
}

.header-tel:hover, .header-tel:focus {
    color: #4D5AE5;
}

.link:hover, .header-link:focus {
    color: #4D5AE5;
}
.header-sait {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
list-style: none;
color: #434455;
}


.header-tel {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
list-style: none;
color: #434455;
}


.hero {
background: #2E2F42;
}


.hero-page {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background: #4D5AE5;
    border-radius: 4px;
}

.work {
}
.work-list {
}
.work-item {
}
.work-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}


.work-after-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.tasks {
    
}


.tasks-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.tasks-list {
}
.tasks-item {
}
.team {
}


.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-list {
}
.team-item {
}
.team-foto {
}


.team-member {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
ccolor: #2E2F42;
}

.team-after-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;

}
.footer {
left: 0px;
top: 2283px;
background: #2E2F42;
}


.footer-logo {
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}


.footer-title {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}







/* --------PORTFOLIO--------- */

.portfolio-body {
}
.portfolio {
left: 0px;
top: 0px;
background: #FFFFFF;
}
.portfolio-nav {
}



.portfolio-logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    color: #4D5AE5;
    
}
.header-portfolio-link {

}


.portfolio-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    color: #434455;
    
}

.portfolio-mail:hover, .portfolio-mail:focus {
    color: #4D5AE5;
}

.portfolio-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    list-style: none;
    color: #434455;
    
}



.header-portfolio-link {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;

}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}


.portfolio-hero { 
    
}
.portfolio-hero-list {
    
}


.portfolio-hero-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 116px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.portfolio-hero-foto {
    list-style: none;
    text-decoration: none;
}
.portfolio-hero-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
list-style: none;
text-decoration: none;
color: #2E2F42;
}

.portfolio-hero-title:hover {
    color: #4D5AE5;
}

.portfolio-hero-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
list-style: none;
text-decoration: none;
color: #434455;
}

.portfolio-hero-text:hover {
    color: #4D5AE5;
}

.portfolio-footer {
left: 0px;
top: 1764px;
background: #2E2F42;
}

.portfolio-footer-link {
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
list-style: none;
text-decoration: none;
text-transform: uppercase;
color: #4D5AE5
}


.portfolio-footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}

.secret-name { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; border: 0; clip: rect(0 0 0 0); }"

